<a href="/#/<%= owner.get('id') %>/collection/<%= album.id %>">
  <div class="album-image"></div>
</a>
<a href="/#/<%= owner.get('id') %>/collection/<%= album.id %>">
  <div class="album-title"><%= album.get('title') %></div>
  <div class="album-date"><%= album.get('string_date') %></div>
</a>
