<div class="hero">
  <div class="details">
    <div class="album-title"><%= album.get('title') %></div>
    <div class="album-event-date"><%= album.get('string_date') %></div>
    <div class="album-open-button">Open</a></div>
  </div>
  <div class="owner-business-name">
    <a href="<%= owner.get('website') %>"><%= owner.get('business_name') %></div>
  </div>
</div>

<a name="begin"></div>
<div class="information">

  <div class="album-title">
    <a href="#<%= Backbone.history.getFragment() %>">
      <%= album.get('title') %>
    </a>
  </div>
  <div class="album-event-date">
    <a href="<%= owner.get('website') %>">
      <%= owner.get('business_name') %>
    </a>
  </div>
  <div class="list-of-subalbums"></div>
</div>

<div class="container gallery-section">




  <div class="public-photos-index"></div>
</div>
