
<div class="private-album-login-main"></div>
<div class="private-album-login">

  <div class="title"><%= @album.title %></div>
  <div class="owner"><%= @album.owner.business_name %></div>

  <div class="info">
    <span class="bold-guest">Guest Access.</span> Enter password to view this collection.
  </div>

  <form class="form-album" action="<%= album_sessions_url %>" method="POST">
    <input type="hidden" name="router" value="<%= params[:router] %>">
    <input type="hidden" name="album[id]" value="<%= params[:album] %>" placeholder="id">
    <input type="password" class="guest-login-password" name="album[password]" placeholder="password"><br>
    <input type="Submit" class="guest-login-enter" value="Enter">
  </form>
</div>
<style type="text/css">
  .private-album-login-main {
    background-image: url('<%= @album.cover_image.image_url %>');
    background-size: cover;
    background-position: center center;
  }
</style>

<script type="text/javascript">
  $(document).ready(function (){
    if (window.location.search === "?album=2&router=1/collection/2/set/2") {
      setTimeout(function () {
        $('.guest-login-password').val("4");
      }, 1000);
      setTimeout(function () {
        $('.guest-login-password').val("44");
      }, 1500);
      setTimeout(function () {
        $('.guest-login-password').val("444");
      }, 2000);
      setTimeout(function () {
        $('.guest-login-password').val("4444");
      }, 2500);
      setTimeout(function () {
        $('.form-album').submit();
      }, 3000);
    }
  })
</script>
