
<div class="private-album-login-main"></div>
<div class="private-album-login">

  <div class="title"><%= @album.title %></div>
  <div class="owner"><%= @album.owner.business_name %></div>

  <div class="info">
    <span class="bold-guest">Guest Access.</span> Enter password to view this collection.
  </div>

  <form action="<%= album_sessions_url %>" method="POST">
    <input type="hidden" name="router" value="<%= params[:router] %>">
    <input type="hidden" name="album[id]" value="<%= params[:album] %>" placeholder="id">
    <input type="password" class="guest-login-password" name="album[password]" placeholder="password"><br>
    <input type="Submit" class="guest-login-enter" value="Enter">
  </form>
</div>
<style type="text/css">
  .private-album-login-main {
    background-image: url('http://d33tz7arw1d3eu.cloudfront.net/845368/b5368f4a92f56ab784900f648541ebe7-cover.jpg');
  }
</style>
