<!DOCTYPE html>
<html>
<head>
  <title>Twinkieset - Client photo gallery for modern photographers.</title>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
<% if logged_in? %>
  <script type="text/javascript">
    CURRENT_USER = {
      "id": "<%= current_user.id %>",
      "email": "<%= current_user.email %>",
      "business_name": "<%= current_user.business_name %>",
      "website": "<%= current_user.website %>",
      "username": "<%= current_user.username %>"
    };
    CLOUDINARY_SETTINGS = {
      "cloud_name": "<%= ENV['cloud_name'] %>",
      "upload_preset": "<%= ENV['upload_preset'] %>",
      "stylesheet": "https://dl.dropboxusercontent.com/u/2330299/capstone/cloudinary_minimal.css",
      "client_allowed_formats": ["png","gif", "jpeg"],
      "max_file_size": 50000000
    }
  </script>
<% end %>
</head>
<body>



<!-- <%= render 'shared/notice_and_errors' %>

<% if logged_in? %>
  Signed in as <%= current_user.email %> <%= button_to "sign out", session_url, method: "delete" %>
<% else %>
  <%= link_to "Please sign in.", new_session_url %>
<% end %> -->

<%= yield %>

<script type="text/javascript">
  $(document).ready( function() {
    window.TwinkieSetApp.initialize();
  });
</script>

</body>
</html>
